<template>
  <div ref="echartDom"></div>
</template>

<script>
import echarts from 'echarts'

export default {
  props: {
    options: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    options: {
      handler(val) {
        this.chart.setOption(val)
      },
      deep: true // 深度监听, 这里有一定的性能损失;
    }
  },
  mounted() {
    this.initChart()
  },
  beforeDestroy() {
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$refs.echartDom)
      // 使用刚指定的配置项和数据显示图表。
      this.chart.setOption(this.options)
    }
  }
}
</script>

<style>
</style>