<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="I'm zjzhang O(∩_∩)O"/>
    <!-- <div class="chart-warp">
      <Echart style="height:400px;" :options="chartOptions" />
    </div> -->
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Echart from './components/Echart.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,Echart
  },
  computed: {
    chartOptions() {
      return {
        title: {
          subtext: '得分(分）'
        },
        color: ['#2C5BE8', '#FFAD20'],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['学生得分', '期待得分']
        },
        grid: {
          left: '2%',
          containLabel: true
        },
        xAxis: {
          z: 2,
          data: [
            '语文',
            '数学'
          ]
        },
        yAxis: {},
        series: [
          {
            name: '学生得分',
            type: 'bar',
            barGap: 0,
            barWidth: 20,
            label: {
              normal: {
                show: true,
                position: 'inside'
              }
            },
            data: [3, 6]
          },
          {
            name: '期待得分',
            type: 'bar',
            barWidth: 20,
            label: {
              normal: {
                show: true,
                position: 'inside'
              }
            },
            data: [4, 10]
          }
        ]
      }
    }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.chart-warp{
  width: 40%;
  margin: 50px auto;
}
</style>
